.grid-60-40 {
  & > div {
    display: inline-block;
    float: left;
    margin-right: 24px;
    width: calc(60% - (24px * 1 / 2));
    &:nth-child(2n) {
      margin-right: 0;
      width: calc(40% - (24px * 1 / 2));
    }
  }
}
.grid-50 {
  & > div {
    display: inline-block;
    float: left;
    margin-right: 24px;
    width: calc(50% - (24px / 2));
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
.grid-33 {
  & > div {
    display: inline-block;
    float: left;
    margin-right: 24px;
    width: calc(33% - (24px * 2 / 3));
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
.grid-25 {
  & > div {
    display: inline-block;
    float: left;
    margin-right: 24px;
    width: calc(25% - (24px * 3 / 4));
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
