$font-stack: "Barlow", sans-serif;

$black: #020b13;
$white: #ffffff;

$gray-dark: #41484e;

$gray-medium: #b3b6b8;
$gray-light: #d1d3d4;
$gray-lightest: #fafafa;

$cta: #f15e22;
$blue: #008ecf;
$p-32: 32px;
