.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1.5rem;
  font-size: 1.125rem;
  line-height: 1.2;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.07em;
  -webkit-appearance: none;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s,
    box-shadow 0.35s, opacity 0.35s;
  font-family: inherit;
  border: 1px solid $cta;
  min-height: 48px;
  white-space: nowrap;
  &.btn-sm {
    height: 30px;
    font-size: 0.875rem !important;
    line-height: 1;
    min-height: 30px;
    padding: 0 0.75rem;
  }
  &.btn-primary {
    background-color: $cta;
    color: $white;
    border-color: $cta;
    transition: 0.3s ease-in 0s;
    background-size: 250% auto;
    background-image: linear-gradient(
      -85deg,
      #f15e22 0%,
      #f15e22 40%,
      rgba(255, 255, 255, 0.2) 50%,
      #f15e22 60%,
      #f15e22 100%
    );
    &:hover {
      background-color: $cta;
      border-color: $cta;
      transition: 0.3s ease-in 0s;
      background-size: 250% auto;
      background-position: right center;
      background-image: linear-gradient(
        -85deg,
        #f15e22 0%,
        #f15e22 40%,
        rgba(255, 255, 255, 0.2) 50%,
        #f15e22 60%,
        #f15e22 100%
      );
    }
    &.btn-cta {
      font-weight: 600;
      svg {
        margin-left: 0.85rem;
      }
    }
    &.btn-white {
      background-color: $white;
      color: $black;
      &:hover {
        background-color: $cta;
        border-color: $cta;
        color: $white;
      }
    }
  }
  &.btn-secondary {
    color: $black;
    border-color: transparent;
    &:hover {
      background-color: $gray-light;
      border-color: $gray-light;
    }
  }
  &.btn-outline {
    color: $cta;
    &:hover {
      background-color: $cta;
      border-color: $cta;
      color: $white;
    }
  }
  & + .btn {
    margin-left: 1rem;
  }
}
.btn-group {
  display: flex;
}
