header {
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-light;
  @media (max-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  & > div {
    min-height: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      justify-content: center;
      flex-direction: column;
    }
    & > div {
      display: flex;
      align-items: center;

      .btn {
        min-height: 44px;
      }
    }
    .search {
      position: relative;
      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 24px;
        width: 100%;
      }
      form {
        @media (max-width: 768px) {
          width: 100%;
        }
        input[type="text"] {
          border: 1px solid $gray-medium;
          background-color: $white;
          color: $black;
          min-width: 400px;
          min-height: 44px;
          padding: 0 1.5rem 0 3rem;
          font-size: 1rem;
          border-radius: 4px;
          background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23020b13' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 18px;
          background-position: center left 1rem;
          &:hover,
          &:focus {
            outline: none;
          }
          @media (max-width: 768px) {
            width: 100%;
            min-width: 100%;
          }
        }
      }
      ul {
        position: absolute;
        width: 100%;
        padding: 0.875rem 1.5rem;
        border: 1px solid $gray-medium;
        background-color: $white;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        li {
          padding: 0.6rem 0;
          a {
            color: $black;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
  .authentication-buttons {
    @media (max-width: 768px) {
      margin-top: 24px;
    }
  }
  .right-section {
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      margin-left: 0;
      width: 100%;
    }
  }
}
