header {
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-light;
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: all 0.3s;
  @media (max-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @media (min-width: 991px) {
    &.scrollUp {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
      transition: all 0.5s;
    }
  }
  & > div {
    min-height: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      justify-content: center;
      flex-direction: column;
    }
    & > div {
      display: flex;
      align-items: center;

      .btn {
        min-height: 44px;
      }
    }
    .search {
      position: relative;
      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 24px;
        width: 100%;
      }
      form {
        @media (max-width: 768px) {
          width: 100%;
        }
        input[type="text"] {
          border: 1px solid $gray-medium;
          background-color: $white;
          color: $black;
          min-width: 400px;
          min-height: 44px;
          padding: 0 1.5rem 0 3rem;
          font-size: 1rem;
          border-radius: 4px;
          background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23020b13' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 18px;
          background-position: center left 1rem;
          &:hover,
          &:focus {
            outline: none;
          }
          @media (max-width: 768px) {
            width: 100%;
            min-width: 100%;
          }
        }
      }
      ul {
        position: absolute;
        width: 100%;
        padding: 0.875rem 1rem;
        background-color: $white;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
        li {
          padding: 0.6rem 0;
          a {
            color: $black;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
  .authentication-buttons {
    @media (max-width: 768px) {
      margin-top: 24px;
    }
  }
  .right-section {
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      margin-left: 0;
      width: 100%;
    }
  }
}
.top-strip {
  text-align: center;
  padding: 12px 0;
  background: #fff7df;
  position: fixed;
  width: 100%;
  z-index: 3;
  b {
    font-weight: 600;
  }
  a {
    color: $black;
    text-decoration: underline;
  }
  button {
    color: $black;
    top: calc(50% - 8px);
    right: 16px;
    position: absolute;
    text-decoration: none;
    font-family: arial;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 14px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-color: #fff7df;
    border: 0;
    @media (max-width: 767px) {
      width: 18px;
      height: 18px;
      background-size: 18px;
      margin: 0;
      top: calc(50% - 18px);
    }
  }
}
