.hero {
  h1 {
    margin-bottom: 24px;
    font-size: 44px;
    font-weight: 500;
  }
  p {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .btn-group {
    margin-top: 48px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .btn {
        width: 100%;
        &:not(:first-child) {
          margin-bottom: 24px;
        }
        & + .btn {
          margin-left: 0;
        }
      }
    }
  }
  .step {
    display: flex;
    position: relative;
    min-height: 130px;
    &:last-child {
      min-height: 50px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 34px;
      top: 70px;
      height: 0;
      width: 2px;
      background-color: rgba(179, 182, 184, 0.45);
    }
    &.step1 {
      .info {
        margin-top: 10px;
      }
    }
    .info {
      margin: 24px 0 10px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      margin: 0 0 8px;
      color: $black;
      span {
        color: $cta;
        display: block;
      }
    }

    .text {
      font-size: 12px;
      color: $black;
      padding-bottom: 0;
      margin: 0;
    }

    &:not(:last-child) {
      &:after {
        height: 48%;
      }
    }
  }

  .number {
    width: 70px;
    height: 70px;
    background-color: rgba(232, 233, 234, 0.3);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    font-size: 15px;
    font-weight: 600;
    margin-right: 1.5rem;

    svg {
      width: 16px;
      height: 16px;
      object-fit: contain;

      path {
        fill: white;
      }
    }
  }
  .grid-50 {
    & > div {
      @media (max-width: 768px) {
        width: 100%;
        margin: 0;
      }
      &:first-child {
        p {
          padding-right: 40px;
        }
      }
      &:nth-child(2) {
        @media (max-width: 768px) {
          display: none;
        }
        max-width: 485px;
        max-height: 355px;
        min-height: 355px;
        border-radius: 10px;
      }
    }
  }
  .video-thumbnail {
    position: relative;
    background-image: url("../images/video-thumbnail.jpg");
    background-position: top -60px center;
    .video-logo {
      padding: 24px 0 0 24px;
      img {
        max-height: 30px;
      }
    }
    .play-icon {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      a {
        svg {
          position: absolute;
          top: calc(50% - 50px);
          left: calc(50% - 36px);
          right: 0;
          bottom: 0;
          path {
            transition: 0.5s ease-in-out;
          }
        }
        &:hover {
          svg {
            path {
              fill: #008ecf;
            }
          }
        }
      }
    }
    .footer-text {
      min-height: 86px;
      width: 100%;
      text-align: center;
      background: $blue-dark;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: $white;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 8px 8px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.67);
      z-index: 1;
      border-radius: 8px;
    }
    & > div {
      position: relative;
      z-index: 2;
    }
  }
}
section {
  .section-header {
    p {
      width: 70%;
      margin-bottom: 56px;
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
}
//tutorials
.read-more {
  font-size: 18px;
  color: $black;
  margin-top: 24px;
  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      margin-right: 1rem;
    }
  }
}

//resources

.resources {
  .grid-50 {
    & > div {
      margin-bottom: 24px;
    }
  }
  .card {
    ul {
      li {
        width: 50%;
        float: left;
        @media (max-width: 768px) {
          width: 100%;
        }
        a {
          color: $blue;
          &:hover {
            color: $gray-dark;
          }
        }
        .read-more {
          a {
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}
.show-mobile {
  @media (min-width: 769px) {
    display: none;
  }
}
