.search-result h4 {
  font-weight: 600;
  border-bottom: 1px solid #d1d3d4;
  padding-bottom: 0.25rem;
  color: #41484e;
  font-size: 15px;
}
.search-result ul li {
  padding: 0 0 0.85rem 0 !important;
}
.search-result ul li > *:empty {
  display: none;
}
.search-result ul li li {
  padding: 0 0 0.25rem 0 !important;
  font-size: 15px;
  color: #41484e;
}
